NUXT_PUBLIC_API_BASE=http://127.0.0.1:3711/api/v1
NUXT_PUBLIC_OIDC_ISSUER=https://account.nextmoe.com
NUXT_PUBLIC_OIDC_CLIENT_ID=
NUXT_PUBLIC_OIDC_REDIRECT_URI=http://127.0.0.1:3710/auth/callback
NUXT_PUBLIC_SITE_URL=http://127.0.0.1:3710
NUXT_PUBLIC_R2_PUBLIC_BASE=
