data

dist
.output
.data
.nuxt
.nitro
.cache
.vercel
.netlify
.vinxi
.turbo
apps/api/build
apps/api/tmp

.env
.env.*
.env*.local
!.env.example
!**/.env.example

node_modules
.pnpm-store

logs
*.log

.idea
.vs
.fleet

.DS_Store
Thumbs.db

/*.png
/*.jpg
/*.jpeg
/*.webp
.playwright-mcp/

tmp
